.App {
  padding-left: 30px;
}

.togglerItem{
  padding: 5px 20px;
  box-sizing: border-box;
  background: #eee;
  display: inline-block;
}

.togglerItem:hover{
  cursor: pointer;
}

.togglerItem.active{
  background: #ffcc00;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.myLableContainer{
  margin: 20px 5px;
  background-color: #8cffb4;
  width: 300px;
  padding: 10px;
}